<div class="d-flex flex-column p-3">
    <h5>Menu</h5>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'product_list' %}" class="nav-link">Products</a>
        </li>
        <li>
            <a href="{% url 'add_product' %}" class="nav-link">Add Product</a>
        </li>
        <li>
            <a href="{% url 'user_list' %}" class="nav-link">Users</a>
        </li>
        <li>
            <a href="{% url 'add_user' %}" class="nav-link">Add User</a>
        </li>
    </ul>
</div>
